body {
    margin: 0;
}

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.headev-link-div {
    margin: 15px 15px;
    gap: 10px;
}

.accordion-title {
    margin: 15px 15px;
    width: 90%;
    height: 50px;
    border: 2px, solid;
    display: flex;
    align-items: center;
    padding: 10px;
}

p {
    width: 90%;
    margin: 15px 15px;
    padding: 10px;
}

.hidden {
    display: none;
}